@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Petrona&display=swap');

/* Estilos gerais */
body {
  background: #000000;
  font-family: 'Petrona', sans-serif;
  color: #ffffff;
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;

  /* Animação para aumentar a opacidade */


}

#flameAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  animation: fade-in-animation 4s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}

#flameImage {
  width: 500px;
  /* Ajuste o tamanho conforme necessário */
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
  font-family: 'Petrona', sans-serif;
  color: #ffffff;
}

p {
  font-family: 'Petrona', sans-serif;
  color: #777777;
}

a {
  font-family: 'Petrona', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cccccc;
}

.circle {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  font-family: 'Homemade Apple', cursive;
}

/* Homepage */
header {
  text-align: center;
  margin-top: 100px;
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

#loginForm {
  text-align: center;
  margin-top: 50px;
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

input[type="text"],
input[type="password"],
button[type="submit"],
button {
  border-radius: 50px;
  padding: 5px 15px;
  font-family: 'Petrona', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  height: 30px;
  width: 200px;
  /* Ajuste o valor da largura conforme necessário */
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

/* Página de produtos */
#productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  justify-items: center;
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

.product {
  border: 1px solid #ffffff;
  padding: 20px;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  font-size: 18px;
  margin-top: 10px;
}

#backButton {
  text-align: center;
  margin-top: 50px;
}

/* Página de esqueci minha senha */
#resetPasswordForm {
  text-align: center;
  margin-top: 50px;
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

#resetPasswordForm input[type="email"] {
  border-radius: 50px;
  padding: 5px 15px;
  font-family: 'Petrona', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  height: 30px;
  width: 200px;
  /* Ajuste o valor da largura conforme necessário */
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

/* Rodapé */
footer {
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 20px;
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

/* Bem-vindo ao meu site */
#welcomeText {
  font-family: 'Homemade Apple', cursive;
  font-weight: normal;
  opacity: 0;
  /* Inicia com opacidade 0 */
  animation: fade-in-animation 6s ease-in-out forwards;
  /* Animação para aumentar a opacidade */
}

/* Animação fadeIn */
@keyframes fade-in-animation {
  to {
    opacity: 1;
  }
}